[submodule "_ttio_templates/bedrock"]
	path = _ttio_templates/bedrock
	url = https://github.com/TravelTripperWeb-Sites/_ttio_templates-bedrock.git
[submodule "_ttio_templates/express-multi"]
	path = _ttio_templates/express-multi
	url = https://github.com/TravelTripperWeb-Sites/_ttio_templates-express-multi.git
[submodule "_plugins-core"]
	path = _plugins-core
	url = https://github.com/TravelTripperWeb/cms-jekyll-plugins.git
